#todoapp{
	width:600px;
	margin:30px auto 0;
	border:1px solid #dcdcdc;
	text-align:center;
	padding:10px;
}
#todo-form{
	margin-top:20px;
}
#todo-form input{
	padding:3px 10px;
	width:300px;
}
#todo-list{
	width:320px;
	margin:10px auto;
	text-align: left;
	position:relative;
}
#todo-list form{
	position: absolute;
    padding: 4px;
    left: 22px;
    top: 0;
    font-size: 14px;
}
#todo-list form input{
	font-size:15px;
	width:250px;
}
#todo-list li{
	border:1px solid #dcdcdc;
	padding:5px 10px;
	position:relative;
}
#main{
	width:320px;
	text-align: left;
	margin:10px auto;
}
.destroy{
	position: absolute;
    right: -0px;
    top: -0px;
    padding: 8px;
}
.view label{
	display: inline-block;
	width:200px;
}